* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: black;
  text-decoration: none;
}

.top-header {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  border-bottom: none;
  background: none;
}

.top-header2 {
  height: 52px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  z-index: 299;
  border-bottom: none;
  background-color: white;
}

.logo {
  width: 100px;
  height: 100px;
}

.p-header__logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
}

.wrapper {
  width: 100%;
  height: 420px;
  background-image: url(../images/hoofdpagina.jpg);
}

.home-main-content {
  top: 20%;
  height: 218px;
  position: relative;
  max-width: 40%;
  margin: 0 auto;
  padding: 25px 40px 0 20px;
}

.search-container3 {
  height: 50px;
  width: 100%;
  margin-top: 10%;
  justify-content: center;
  display: flex;
}

.bestellen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: larger;
  height: 100%;
  width: 90%;
  border-radius: 5px;
  background-color: green;
  box-shadow: green;
}

.middle-container {
  width: 100%;
  height: 90px;
  background-color: rgba(255, 0, 0, 0.226);
}

.middle-container2 {
  display: flex;
  width: 100%;
  height: 700px;
  background-color: rgba(255, 0, 0, 0.226);
}

.left {
  width: 73%;
  height: auto;
  background-color: rgb(230, 227, 227);
}

.right {
  background-color: rgb(230, 227, 227);
  display: flex;
  width: 27%;
  height: 100%;
}

.right-fixed {
  background-color: rgb(230, 227, 227);
  position: fixed;
  display: flex;
  justify-content: center;
  width: 27%;
}

.bottom-container {
  z-index: 2;
  width: 100%;
  height: 600px;
  clip-path: polygon(0 6%, 100% 11%, 100% 100%, 0% 100%);
  transform-origin: right top;
  background-image: radial-gradient(
      circle at 50% 30%,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.27)
    ),
    radial-gradient(
      circle at 49% 135%,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(#322f2f, #322f2f);
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #fff;
  font-size: x-large;
  height: 70px;
  width: 400px;
}

.item-image {
  width: auto;
  height: 140px;
  margin-left: 50px;
}

.promoties {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: space-around;
  align-items: center;
}

.box {
  display: block;
  width: 500px;
  height: 100%;
  background-color: #e74c3c;
  border-radius: 5%;
}

.bestellen:hover {
  background-color: rgb(7, 150, 7);
}

.bestellen:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.catalog-nav {
  width: 100%;
  height: 60px;
}

.catalog-list {
  display: inline;
  list-style-type: none;
  width: auto;
  position: fixed;
  left: 38%;
  z-index: 299;
}

.Login-list {
  display: inline;
  list-style-type: none;
  width: auto;
  position: fixed;
  right: 5%;
  z-index: 299;
}

.catolag-list-items {
  cursor: pointer;
  font-size: 20px;
  padding: 16px;
  float: left;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.product-items {
  justify-content: center;
  position: absolute;
  left: 4%;
  top: 20%;
  width: 850px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.product-box {
  border-radius: 10px;
  margin: 10px;
  width: 250px;
  height: 200px;
  background-color: rgb(245, 244, 244);
}

.display-box {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: gray;
  height: 140px;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-box {
  width: 100%;
  display: flex;
  align-items: center;
}

.display-name {
  margin-top: 5px;
  margin-left: 10px;
  font-weight: bold;
}

.display-price {
  margin-left: 100px;
}

.display-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: white;
  justify-content: center;
  border-radius: 3px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  background-color: #e74c3c;
}
.shopping-card {
  margin-top: 120px;
  border-radius: 10px;
  width: 300px;
  height: auto;
  background-color: rgb(245, 244, 244);
}

.delivery-option {
  background-color: green;
  height: 130px;
  width: 100%;
}

.totaal {
  background-color: rgb(245, 244, 244);
  height: 50px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
}

.cart-total {
  margin-left: 175px;
}

.active {
  border-bottom: 3px solid #e74c3c;
}

.form-popup {
  display: none;
}

.login-box {
  border-color: #e74c3c;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  padding: 20px;
  z-index: 2000;
  width: 280px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c8102e;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 4px solid #e74c3c;
  margin-bottom: 50px;
  padding: 13px;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #e74c3c;
}

.fa {
  width: px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  float: left;
  margin: 0 10px;
}

.button {
  width: 100%;
  padding: 8px;
  color: #ffffff;
  background: none #e74c3c;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

/* Admin Page */

.leftbar {
  border-radius: 2%;
  position: absolute;
  width: 160px;
  height: 600px;
  top: 1%;
  left: 1%;
  background-image: linear-gradient(rgb(102, 101, 101), rgb(63, 63, 63));
}

.line {
  width: auto;
  height: 1px;
  background-color: white;
}

.leftitems {
  justify-content: center;
  display: block;
  margin: 10px;
  height: 80%;
  width: 20px;
}

.leftitems i {
  margin-bottom: 10px;
}

.rightbar {
  width: 100%;
  height: auto;
  background-color: #e4e2e2;
  display: block;
}

.topbar {
  position: relative;
  top: 5%;
  width: 80%;
  height: auto;
  margin-left: 200px;
  display: flex;
}

.topbar .box2 {
  border-radius: 2%;
  background-color: #f8f8f8;
  width: 230px;
  height: 170px;
  margin: 10px;
  clip-path: polygon(0% 0%, 120% 0%, 120% 120%, 0% 120%);
}

.boxh {
  border-radius: 2%;
  width: 100%;
  height: 130px;
}

.boxd {
  margin-left: 20px;
  margin-top: 5px;
}

.middlecontainer {
  margin-left: 210px;
  display: flex;
  width: auto;
  height: 500px;
  margin-top: 10px;
}

.middlebar1 {
  display: flex;
  width: 600px;
  height: 400px;
  margin-top: 30px;
  background-color: #f8f8f8;
  border-radius: 1%;
}

.middlebar2 {
  margin-left: 30px;
  display: block;
  width: 350px;
  height: 400px;
  margin-top: 30px;
  background-color: #f8f8f8;
  border-radius: 1%;
}

.product-display .product-display-table {
  width: 100%;
  text-align: center;
}

.product-display {
  overflow-y: scroll;
  height: 400px;
}

.product-display .product-display-table a {
  width: 100px;
}
