* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  color: black;
  text-decoration: none;
}

.top-header {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  border-bottom: none;
  background: none;
}

.top-header2 {
  border-bottom: 3px solid #e74c3c;
  height: 10%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  z-index: 250;
  background-color: #545252;
}

.logo {
  z-index: 300;
  width: 100px;
  height: 100px;
}

.p-header__logo img {
  height: 100%;
  object-fit: contain;
  margin-top: 10px;
  z-index: 300;
}

.wrapper {
  width: 100%;
  height: 420px;
  background-image: url(../images/hoofdpagina.jpg);
}

.home-main-content {
  top: 20%;
  height: 26vh;
  position: relative;
  max-width: 40%;
  margin: 0 auto;
  padding: 25px 40px 0 20px;
  display: flex;
  justify-content: center;
}

.search-container3 {
  height: 10vh;
  width: 100%;
  margin-top: 10%;
  justify-content: center;
  display: flex;
}

.bestellen {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: larger;
  height: 100%;
  width: 90%;
  border-radius: 5px;
  background-color: green;
  box-shadow: green;
}

.middle-container {
  width: 100%;
  height: 90vh;
  background-color: rgba(255, 0, 0, 0.226);
}

.middle-container2 {
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: rgba(255, 0, 0, 0.226);
}

.left {
  width: 73%;
  height: auto;
  background-color: rgb(230, 227, 227);
}

.right {
  background-color: rgb(230, 227, 227);
  display: flex;
  width: 27%;
  height: 100%;
}

.right-fixed {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 27%;
}

.bottom-container {
  z-index: 2;
  width: 100%;
  height: 80vh;
  clip-path: polygon(0 6%, 100% 11%, 100% 100%, 0% 100%);
  transform-origin: right top;
  background-image: radial-gradient(
      circle at 50% 30%,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.27)
    ),
    radial-gradient(
      circle at 49% 135%,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(#322f2f, #322f2f);
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: #fff;
  font-size: x-large;
  height: 70px;
  width: 400px;
}

.item-image {
  width: auto;
  height: 140px;
  margin-left: 50px;
}

.promoties {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: space-around;
  align-items: center;
}

.box {
  display: block;
  width: 500px;
  height: 100%;
  background-color: #e74c3c;
  border-radius: 5%;
}

.bestellen:hover {
  background-color: rgb(7, 150, 7);
}

.bestellen:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.catalog-nav {
  width: 100%;
  height: 60px;
  display: flex;
}

.catalog-list {
  display: inline;
  list-style-type: none;
  width: auto;
  height: auto;
  margin-left: 300px;
  z-index: 299;
}

.Login-list {
  display: inline;
  list-style-type: none;
  width: auto;
  margin-left: 250px;
  z-index: 299;
}

.catolag-list-items {
  cursor: pointer;
  font-size: 4vh;
  padding: 16px;
  float: left;
  text-decoration: none;
  color: white;
}

.product-items {
  justify-content: center;
  position: absolute;
  left: 4%;
  top: 20%;
  width: 70%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.product-box {
  border: 1px solid #e74c3c;
  border-radius: 10px;
  margin: 10px;
  width: 40vh;
  height: 35vh;
  background-color: rgb(245, 244, 244);
}

.display-box {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: gray;
  height: 23vh;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer-box {
  width: 100%;
  display: flex;
  align-items: center;
}

.display-name {
  margin-top: 5px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 4vh;
}

.display-price {
  margin-left: 15vh;
  font-size: 3.3vh;
}

.display-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: white;
  justify-content: center;
  border-radius: 3px;
  margin-left: 20px;
  width: 30px;
  height: 30px;
  background-color: #e74c3c;
}
.shopping-card {
  border: 2px solid #e74c3c;
  margin-top: 120px;
  border-radius: 10px;
  width: 83%;
  height: 50vh;
  background-color: #545252;
}

.delivery-option {
  background-color: rgb(255, 255, 255);
  height: 80%;
  width: 100%;
}

.totaal {
  background-color: #545252;
  height: 50px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
}

.cart-total {
  margin-left: 175px;
}

.shopping-card h2 {
  color: white;
}

.totaal span {
  color: white;
}

.active {
  border-bottom: 3px solid #e74c3c;
}

.form-popup {
  display: none;
}

.login-box {
  border-color: #e74c3c;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  padding: 20px;
  z-index: 2000;
  width: 280px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c8102e;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 4px solid #e74c3c;
  margin-bottom: 50px;
  padding: 13px;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #e74c3c;
}

.fa {
  width: px;
  float: left;
  text-align: center;
}

.textbox input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  float: left;
  margin: 0 10px;
}

.button {
  width: 100%;
  padding: 8px;
  color: #ffffff;
  background: none #e74c3c;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

/* Admin Page */

.leftbar {
  border-radius: 2%;
  position: absolute;
  width: 160px;
  height: 600px;
  top: 1%;
  left: 1%;
  background-image: linear-gradient(rgb(102, 101, 101), rgb(63, 63, 63));
}

.line {
  width: auto;
  height: 1px;
  background-color: white;
}

.leftitems {
  justify-content: center;
  display: block;
  margin: 10px;
  height: 80%;
  width: 20px;
}

.leftitems i {
  margin-bottom: 10px;
}

.rightbar {
  width: 100%;
  height: 100vh;
  background-color: #e4e2e2;
  display: block;
}

.topbar {
  position: relative;
  top: 5%;
  width: 80%;
  height: auto;
  margin-left: 200px;
  display: flex;
}

.topbar .box2 {
  border-radius: 2%;
  background-color: #f8f8f8;
  width: 20%;
  height: 170px;
  margin: 10px;
  clip-path: polygon(0% 0%, 120% 0%, 120% 120%, 0% 120%);
}

.boxh {
  border-radius: 2%;
  width: 100%;
  height: 130px;
}

.boxd {
  margin-left: 15px;
  margin-top: 10px;
}

.middlecontainer {
  margin-left: 210px;
  display: flex;
  width: auto;
  height: 500px;
  margin-top: 10px;
}

.middlebar1 {
  display: flex;
  width: 50%;
  height: 400px;
  margin-top: 50px;
  background-color: #f8f8f8;
  border-radius: 1%;
}

.middlebar2 {
  margin-left: 30px;
  display: block;
  width: 40%;
  height: 400px;
  margin-top: 50px;
  background-color: #f8f8f8;
  border-radius: 1%;
}

.product-display .product-display-table {
  width: 100%;
  text-align: center;
}

.product-display {
  overflow-y: scroll;
  height: 400px;
}

.product-display .product-display-table a {
  width: 100px;
}

footer {
  border-top: 5px solid #e74c3c;
  width: 100%;
  height: 130px;
  background-color: #545252;
  display: flex;
  justify-content: center;
}

.footer-middle {
  width: 450px;
  height: auto;
  display: block;
  margin-top: 10px;
  justify-content: center;
}

.footer-ul {
  width: auto;
  display: inline;
  list-style: none;
}

.footer-ul a {
  padding: 5px;
  color: white;
}

.credits {
  margin-left: 100px;
  color: white;
  margin-top: 40px;
}

.adminbox {
  display: block;
  width: 400px;
  margin-left: 10px;
}

.product-name {
  margin-top: 20px;
  width: 65%;
  height: 30px;
  background-color: gainsboro;
}

.product-price {
  margin-top: 10px;
  width: 65%;
  height: 30px;
}

.adminbox .product-image {
  margin-top: 10px;
  margin-left: 10px;
}

.submitbtn {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  background-color: #db2068;
  border-radius: 1px;
}

.middle-container2 .left .items {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-top: 100px;
}

.info-items {
  width: 400px;
  height: auto;
  align-items: center;
}
